@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alegreya/v19/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNG9hU4-6qm.ttf) format('truetype');
}
